     :root{
      ---blanco: #ffffff;
      ---oscuro: #212121;
      ---primario:#4682b4;
      ---secundario: rgba(255, 193, 7,1);
      ---gris: #757575;
     }
     
     html{
        font-size: 62.5%;
        box-sizing: border-box;
        scroll-snap-type: y mandatory;
      }

       *,
       *::before,
       *::after{
        box-sizing: inherit;
       }

      body{
        font-size: 16px;
        font-family: "krub", sans-serif;
        background-image: linear-gradient(
        to top,
         blue 0%,
        var(---blanco) 100%
        );
      }
      
      .titulo{
        text-align: center;
        font-size: 4rem;
        color: var(---primario);
        /*font-family: "Times New Roman",'Times New Roman', Times, serif;*/
      }

      .titulo span{
        font-size: 2rem;
      } 

      .contenedor{
        width: 120rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-right: auto;
        margin-left: auto;

        margin: 0 auto 0 auto;
        margin: 0 auto;
      }

      .nav-bg{
        background-color: var(---secundario);
      }

      .navegacion-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      @media (min-width: 480px) {
      }

      @media (min-width: 780px) {
        .navegacion-principal{
          flex-direction: row;
          justify-content: space-between;
        }
      }

      @media (min-width: 1140px) {
      }

      @media (min-width: 1400px) {
      }

      .navegacion-principal a{
        color:var(---blanco);
        text-decoration: none;
        padding: 1rem;
        font-size: 2rem;
      font-weight: bold;
      }

      .navegacion-principal a:hover{
        background-color: var(---primario);
        color: var(---oscuro);
      }

      .hero{
        background-image: url(../imagenes/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        padding: 20px;
        position: relative;
      }

      .contenido-hero {
        position: absolute;
        /*background-color: rgba(0, 0, 0, 0.7);*/
        background-color: rgb(0 0 0/70%);
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .contenido-hero p{
        color: var(---blanco);
      }

      h1{
        font-size: 3.8rem;
      }

      h2{
        font-size: 3.8rem;
      }

      h3{
        font-size: 3.8rem;
      }

      h1,
      h2,
      h3 {
        text-align: center;
      }

      .boton {
        background-color: var(---secundario);
        color: var(---blanco);
        padding: 1rem 3rem;
        margin-top: 1rem;
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0.5rem;
        width: 90%;
        text-align: center;
      }

      .boton:hover{
        cursor: pointer;
      }

      @media (min-width: 480px){
        .boton{
          width: auto;
        }
      }

      .sombra{
        box-shadow: 0px 5px 15px -3px #707070 ;
        background-color: var(---blanco);
        padding: 2rem;
        border-radius: 1rem;
        margin-top: 2rem;
      }

      @media (min-width: 768px){
        .lenguajes{
        display: grid;
       /* grid-template-columns: 200px 388px 300px 300px;
        grid-template-rows: 200px 388px 1000px 200px;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-columns: 1fr 1fr 1fr 1fr;*/
        grid-template-columns: repeat(4 , 1fr);
        column-gap: 4rex; /*pomer espacio en colunnas*/
        /*filas / colunnas
        grid: 280px 388px / 100px 100px*/
      }
      }
      
      .lenguaje{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .lenguaje h3 {
        color: var(---secundario);
        font-weight: normal;
        
      }

      .lenguaje p {
        line-height: 2;
        text-align: center;
      }

      .lenguaje .iconos{
        height: 10rem;
        width: 10rem;
        background-color: var(---primario);
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      /*Formulario de contacto*/
  .formulario{
      background-color: var(---gris);
      width: min(
          60rem, 
          100%
      );
      margin: 0 auto;
      padding: 2rem;
      border-radius: 1rem;
  }

  .formulario fieldset{
      border: none;
  }

  .formulario legend{
      text-align: center;
      font-size: 1.9rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 2rem;
      color: var(--oscuro);
  }

  @media (min-width: 768px){
      .contenedor-campos{
          display: grid;
          grid-template-columns: 50% 50%;
          column-gap: 1rem;
          grid-template-rows: auto auto 20rem ;
      }
      .campo:nth-child(3),
      .campo:nth-child(4){
      grid-column: 1/3;
      }
  }

 /* .contenedor-campos{
      
  }*/

  .campo{
      margin-bottom: 1rem;
  }

  .campo label{
      color: var(--blanco);
      font-weight: bold;
      margin-bottom: 0.5rem;
      display: block;
  }

  .input-text{
      width: 100%;
      border: none;
      padding: 1.5rem;
      border-radius: 0.5rem;
  }

  .enviar .boton{
      width: 100%;
  }

  .footer{
      text-align: center;
  }

  .lenguajesd, .navegacion-principal, .formulario{
      scroll-snap-type: center;
      scroll-snap-stop: always;
  }